<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
  <a href="/auth/logout">
    <div class="p-3">
      <i class="fas fa-sign-out-alt">  LOGOUT</i>
    </div>
  </a>
  
</aside>